---
import CTA from '../components/cta.astro';
import DTrack from '../components/dtrack.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
import Knowledge from '../components/knowledge.astro';
import Mission from '../components/mission.astro';
import MTrack from '../components/mtrack.astro';
import Offer from '../components/offer.astro';
import Team from '../components/team.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Interchain Builders Program</title>
	</head>
	<body class="bg-white text-black">
		<!-- HEADER -->
		<Header />
		<div class="snap-y snap-mandatory">
			<Hero />
			<Mission />
			
			<!-- TRACKS DESKTOP-->
			<section class="hidden lg:grid bg-grey" id="section-program">
				<DTrack
					title="Accelerator Track"
					subtitle="Technical Support & Guidance for Web3 Founders"
					content="We guide Cosmos projects through regular sessions & asynchronous support. Benefit from access to industry experts ready to share their observations on the best practices in the space."
					img="/icons/desktop/iconsCUT_04.track-A.svg"
				/>
				<DTrack
					title="Orientation Track"
					subtitle="Helping You Decide If Cosmos Is Right For You"
					content="With a plethora of tech stacks available, it can be hard to find a home for your product. We assist teams in finding the perfect balance between technical suitability and long-term economic viability."
					img="/icons/desktop/iconsCUT_05.track-B.svg"
				/>
				<DTrack
					title="Integration Track"
					subtitle="Helping You Connect & Plug Into The Interchain"
					content="If you have already launched a product in a different ecosystem and are looking for ways to integrate with Cosmos, we’re here to provide technical guidance and introductions to the key players in the space."
					img="/icons/desktop/iconsCUT_06.track-C.svg"
				/>
			</section>

			<!-- TRACKS MOBILE -->
			<section class="lg:hidden flex flex-nowrap overflow-x-scroll bg-grey scrolling-touch snap-x snap-mandatory pt-32 pb-16 scroll-container">
				<MTrack
					title="Accelerator Track"
					subtitle="Technical Support & Guidance for Web3 Founders"
					content="We guide Cosmos projects through regular sessions & asynchronous support. Benefit from access to industry experts ready to share their observations on the best practices in the space."
				/>
				<MTrack
					title="Orientation Track"
					subtitle="Helping You Decide If Cosmos Is Right For You"
					content="With a plethora of tech stacks available, it can be hard to find a home for your product. We assist teams in finding the perfect balance between technical suitability and long-term economic viability."
				/>
				<MTrack
					title="Integration Track"
					subtitle="Helping You Connect & Plug Into The Interchain"
					content="If you have already launched a product in a different ecosystem and are looking for ways to integrate with Cosmos, we’re here to provide technical guidance and introductions to the key players in the space."
				/>
			</section>
			<div class="lg:hidden flex justify-center w-screen px-sm-side py-16 bg-grey">
				<img src="/icons/void.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
				<img src="/icons/filled.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
				<img src="/icons/filled.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
			</div>
			
			<Offer />
			<Knowledge />
			<Team />
			<CTA />
			<Footer />
		</div>
		<!-- <script type="module" src="/scrollTrigger.js"></script> -->
		<script>
			document.querySelector('.menu-open').addEventListener('click', () => {
				document.querySelector('.menu').classList.toggle('opacity-0');
				document.querySelector('.menu').classList.toggle('pointer-events-none');
			});
			document.querySelector('.menu-close').addEventListener('click', () => {
				document.querySelector('.menu').classList.toggle('opacity-0');
				document.querySelector('.menu').classList.toggle('pointer-events-none');
			});
			
			document.addEventListener('DOMContentLoaded', function () {
				let scrollSections = Array.from(document.querySelectorAll('.scroll-section'));
				let icons = Array.from(document.querySelectorAll('.icon'));
				let scrollContainer = document.querySelector('.scroll-container');

				scrollContainer.addEventListener('scroll', (e) => {
					let currentSectionIndex = Math.round(e.target.scrollLeft / window.innerWidth);

					icons.forEach((icon, index) => {
						let iconSrc = (index === currentSectionIndex) ? '/icons/void.svg' : '/icons/filled.svg';
						icon.setAttribute('src', iconSrc);
					});
				});

				icons.forEach((icon, index) => {
					icon.addEventListener('click', () => {
						scrollContainer.scrollTo({
							left: window.innerWidth * index,
							behavior: 'smooth'
						});
					});
				});
			});
		</script>
	</body>
</html>
