---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Interchain Builders Program</title>
	</head>
	<body class="bg-white text-black">
		<div class="snap-y snap-mandatory h-screen overflow-scroll"> {/*snap-y snap-mandatory */}
			
			<!-- HERO -->
			<div class="snap-start snap-always grid grid-cols-3 h-screen px-lg-side py-lg-top" >
				<div class="col-span-1 pt-[80px]">
					<img src="../../public/icons/icons_01.hero-SX.svg" class="h-100 ml-[-230px]" />
				</div>
				<div class="col-span-2 col-start-2 my-auto">
					<h1 class="font-bold text-3xl mb-[80px] ml-[-8px]">Interchain <br/> Builders <br/> Program</h1>
					<button class="px-[30px] py-[14px] text-white bg-blue hover:text-black">
						<h6 class="font-medium text-sm">APPLY NOW</h6>
					</button>
				</div>
			</div>

			<!-- MISSION -->
			<div class="relative snap-start snap-always grid grid-cols-2 h-screen px-lg-side bg-right bg-no-repeat"
				style="background-image: url('../../public/grids/grid_Mission-1440.svg')" >
				<div class="col-span-1 my-auto">
					<h2 class="font-bold text-2xl text-blue mb-[50px]">Providing guidance and support to Cosmos builders</h2>
					<h3 class="text-xl">We help teams navigate through our 3 tracks: the Accelerator, Orientation and Integration Track</h3>
				</div>
			</div>

			<!-- ACCELERATOR TRACK -->
			<div class="snap-start snap-always grid grid-cols-6 h-screen px-lg-side py-lg-top" >
				<div class="col-span-2">
					<h4 class="text-md text-blue">How We <br/> Support <br/> Teams</h4>
				</div>
				<div class="col-span-3 col-start-3 my-auto">
					<h4 class="font-normal text-lg mb-[24px]">Accelerator Track</h4>
					<h2 class="font-bold text-2xl mb-[24px] text-blue">Technical Support & Guidance for Web3 Founders</h2>
					<p class="text-base mb-[24px]">
						We guide Cosmos projects through regular sessions & asynchronous support. Benefit from access to industry experts ready to share their observations on the best practices in the space.
					</p>
					<a href="#">
						<h6 class="inline align-middle font-medium text-sm text-blue">APPLY NOW</h6>
						<img src="../../public/icons/arrow.png" class="inline h-[14px] w-auto ml-[6px]"/>
					</a>
				</div>
			</div>

			<!-- ORIENTATION TRACK -->
			<div class="snap-start snap-always grid grid-cols-6 h-screen px-lg-side py-lg-top" >
				<div class="col-span-2">
					<h4 class="text-md text-blue">How We <br/> Support <br/> Teams</h4>
				</div>
				<div class="col-span-3 col-start-3 my-auto">
					<h4 class="font-normal text-lg mb-[24px]">Orientation Track</h4>
					<h2 class="font-bold text-2xl mb-[24px] text-blue">Helping You Decide If Cosmos Is Right For You</h2>
					<p class="text-base mb-[24px]">
						With a plethora of tech stacks available, it can be hard to find a home for your product. We assist teams in finding the perfect balance between technical suitability and long-term economic viability.
					</p>
					<a href="#">
						<h6 class="inline align-middle font-medium text-sm text-blue">APPLY NOW</h6>
						<img src="../../public/icons/arrow.png" class="inline h-[14px] w-auto ml-[6px]"/>
					</a>
				</div>
			</div>

			<!-- INTEGRATION TRACK -->
			<div class="snap-start snap-always grid grid-cols-6 h-screen px-lg-side py-lg-top" >
				<div class="col-span-2">
					<h4 class="text-md text-blue">How We <br/> Support <br/> Teams</h4>
				</div>
				<div class="col-span-3 col-start-3 my-auto">
					<h4 class="font-normal text-lg mb-[24px]">Integration Track</h4>
					<h2 class="font-bold text-2xl mb-[24px] text-blue">Helping You Connect & Plug Into The Interchain</h2>
					<p class="text-base mb-[24px]">
						If you have already launched a product in a different ecosystem and are looking for ways to integrate with Cosmos, we’re here to provide technical guidance and introductions to the key players in the space.
					</p>
					<a href="#">
						<h6 class="inline align-middle font-medium text-sm text-blue">APPLY NOW</h6>
						<img src="../../public/icons/arrow.png" class="inline h-[14px] w-auto ml-[6px]"/>
					</a>
				</div>
			</div>

			<!-- WHAT WE OFFER -->
			<div class="snap-start snap-always grid grid-cols-2 h-screen px-lg-side py-lg-top">
				<div class="col-span-1">
					<h4 class="text-md text-blue">What <br/> We Offer</h4>
				</div>
				<div class="col-span-1 col-start-2 my-auto divide-y divide-blue divide-solid">
					<div class="py-[30px]">
						<h4 class="font-bold text-lg text-blue mb-[30px]">Technical <br /> Support</h4>
						<p class="text-base">With our close ties to the core devs of the Interchain stack, we help you get any question answered.</p>
					</div>
					<div class="py-[30px]">
						<h4 class="font-bold text-lg text-blue mb-[30px]">Ecosystem <br /> Introductions</h4>
						<p class="text-base">Whether your’re fundraising or looking for potential partnerships in the ecosystem, we are the ones to ask.</p>
					</div>
					<div class="py-[30px]">
						<h4 class="font-bold text-lg text-blue mb-[30px]">Product <br /> Support</h4>
						<p class="text-base">We help you connect the dots between your product and users, revise your pitch, tokennomics and legal structure.</p>
					</div>
				</div>
			</div>

			<!-- KNOWLEDGE HUB -->
			<div class="relative snap-always snap-start grid grid-cols-2 h-screen px-lg-side bg-right bg-no-repeat"
				style="background-image: url('../../public/grids/grid_Hub-1440.svg')" >
				<div class="col-span-1 my-auto">
					<h2 class="font-bold text-2xl text-blue mb-[40px]">Web3's Best Practices, Available on Demand</h2>
					<p class="text-base mb-[40px]">Find all the educational resources you need. The Builders Knowledge Hub is a collection of articles and research intended to support Web3 founders in their journey towards the launch of a successful product.</p>
					<button class="px-[30px] py-[14px] text-white bg-blue hover:text-black">
						<h6 class="font-medium text-sm">LEARN MORE</h6>
					</button>
				</div>
			</div>

			<!-- TEAM -->
			<div class="snap-always snap-start grid grid-cols-6 h-screen px-lg-side py-lg-top" >
				<div class="col-span-2">
					<h4 class="text-md text-blue">Team</h4>
				</div>
				<div class="col-span-3 col-start-3 my-auto">
					<a target="_blank" href="https://twitter.com/stefsprinz"><h2 class="font-bold text-2xl hover:underline text-blue">Stef Sprinz</h2></a>
					<a target="_blank" href="https://twitter.com/onurakpolat"><h2 class="font-bold text-2xl hover:underline text-blue">Onur Akpolat</h2></a>
					<a target="_blank" href="https://twitter.com/noamwithveto"><h2 class="font-bold text-2xl hover:underline text-blue">Noam Cohen</h2></a>
					<a target="_blank" href="https://twitter.com/mark0baricevic"><h2 class="font-bold text-2xl hover:underline text-blue">Marko Baricevic</h2></a>
					<a target="_blank" href="https://twitter.com/MoonMan421"><h2 class="font-bold text-2xl hover:underline text-blue">Len Seitter</h2></a>
				</div>
			</div>

			<!-- CALL TO ACTION -->
			<div class="snap-always snap-start grid grid-cols-2 h-screen px-lg-side py-lg-top" >
				<div class="col-span-1 my-auto">
					<h2 class="font-bold mb-[40px] text-2xl text-blue">Ready to join the Builders Program?</h2>
					<button class="px-[30px] py-[14px] text-white bg-blue hover:text-black">
						<h6 class="font-medium text-sm">APPLY NOW</h6>
					</button>
				</div>
			</div>

			<!-- FOOTER -->
			<div class="snap-always snap-start grid grid-cols-6 align-top px-lg-side py-lg-top bg-blue text-white" >
				<div class="col-span-3 block mt-[-8px]">
					<h2 class="font-bold text-2xl mb-[60px]">Interchain<br />Builders<br />Program</h2>
					<button class="px-[14px] py-[10px] text-white border-white border-[1px] hover:text-black">
						<h6 class="font-medium text-sm">APPLY</h6>
					</button>
				</div>
				<div class="col-span-1 col-start-4">
					<h4 class="font-medium text-md mb-[40px]">Company</h4>
					<a target="_blank" href="#" class="hover:underline">Address</a><br />
					<a target="_blank" href="#" class="hover:underline">Line 1</a><br />
					<a target="_blank" href="#" class="hover:underline">Line 2</a><br />
					<br />
					<a target="_blank" href="#" class="hover:underline">Privacy Policy</a><br />
					<a target="_blank" href="#" class="hover:underline">Legal</a>
				</div>
				<div class="col-span-1 col-start-5">
					<h4 class="font-medium text-md mb-[40px]">Content</h4>
					<a target="_blank" href="#" class="hover:underline">Knowledge Hub</a><br />
					<a target="_blank" href="#" class="hover:underline">FAQ</a><br />
					<a target="_blank" href="#" class="hover:underline">Program</a><br />
					<a target="_blank" href="#" class="hover:underline">Team</a><br />
					<a target="_blank" href="#" class="hover:underline">Career</a>
				</div>
				<div class="font-medium col-span-1 col-start-6">
					<h4 class="text-md mb-[40px]">Social</h4>
					<a target="_blank" href="#" class="hover:underline">Twitter</a><br />
					<a target="_blank" href="#" class="hover:underline">Medium</a>
				</div>
				
			</div>
		</div>
	</body>
</html>
