---
import CTA from '../components/cta.astro';
import DTrack from '../components/dtrack.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
import Knowledge from '../components/knowledge.astro';
import Mission from '../components/mission.astro';
import MTrack from '../components/mtrack.astro';
import Offer from '../components/offer.astro';
import Team from '../components/team.astro';

const metaDescription = "The Interchain Builders Program provides guidance and support to Cosmos builders. We help Enterprises and Web3 founders get to mainnet launch and beyond."
---

<html lang="en">
	<head>
		<title>Interchain Builders Program</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="profile" href="https://gmpg.org/xfn/11" />
		<meta name="robots" content="max-image-preview:large" />
		<meta name="description" content={metaDescription} />

		<meta property="og:title" content="The Interchain Builders Program" />
		<meta property="og:description" content={metaDescription}  />
		<meta property="og:url" content="https://join.builders/" />
		<meta property="og:site_name" content="Interchain Builders Program" />
		<meta property="og:locale" content="en_GB">
		<meta property="og:type" content="article" />
		<meta property="og:image" content="https://join.builders/1200x800.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="800" />

		<meta name="twitter:title" content="Interchain Builders Program">
		<meta name="twitter:description" content={metaDescription} >
		<meta name="twitter:url" content="https://join.builders/">
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@BuildersProgram" />
		<meta name="twitter:creator" content="@BuildersProgram" />
		<meta name="twitter:domain" content="join.builders">
		
		<script type="application/ld+json"> 
		{
			"@context": "https://schema.org",
			"@type": "Organization",
			"name": "Interchain Builders Program",
			"url": "https://www.join.builders/",
			"logo": {
				"url": "https://join.builders/icon.png",
				"@context": "http://schema.org",
				"@type": "ImageObject"
			},
			"sameAs": [
				"https://twitter.com/BuildersProgram", 
				"https://www.youtube.com/@interchain_io"  
			]
		}
		</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4GPLYS8KDE"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-4GPLYS8KDE');
		</script>
		<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/144577018.js"></script>
	</head>
	<body class="bg-white text-black">
		<Header />
		<div class="lg:snap-y lg:snap-mandatory lg:h-screen lg:w-screen overflow-hidden lg:overflow-scroll">
			<Hero />
			<Mission />
			
			<section id="section-program">
				<!-- TRACKS DESKTOP-->
				<div class="hidden z-20 relative lg:grid bg-grey">
					<DTrack
						title="Technical Support"
						subtitle="Get Access to Core Developers"
						content="We guide technical decision makers through architectural decisions and developers with sessions & asynchronous support. Benefit from access to industry experts ready to share their observations on the best practices in the space."
						img="/icons/desktop/iconsCUT_04.track-A.svg"
					/>
					<DTrack
						title="Ecosystem Partnerships"
						subtitle="Get a Warm Intro To Anyone"
						content="With our broad overview of what's happening in the space we can support you in deciding which partnerships make sense for you. From investors to validators, and from dApps to auditors, we'll make sure you'll get a foot in the door."
						img="/icons/desktop/iconsCUT_05.track-B.svg"
					/>
					<DTrack
						title="Business & Strategy"
						subtitle="Get Closer to Your Goals"
						content="We sit down with your team to learn about your project's business needs and help you assess whether blockchain technology and the Interchain Stack are the most suitable tools for you to reach your company's goals."
						img="/icons/desktop/iconsCUT_06.track-C.svg"
					/>
				</div>

				<!-- TRACKS MOBILE -->
				<div class="lg:hidden flex flex-nowrap overflow-x-scroll bg-grey scrolling-touch snap-x snap-mandatory pt-32 pb-8 scroll-container">
					<MTrack
						title="Technical Support"
						subtitle="Get Access to Core Developers"
						content="We guide technical decision makers through architectural decisions and developers with sessions & asynchronous support. Benefit from access to industry experts ready to share their observations on the best practices in the space."
					/>
					<MTrack
						title="Ecosystem Partnerships"
						subtitle="Get a Warm Intro To Anyone"
						content="With our broad overview of what's happening in the space we can support you in deciding which partnerships make sense for you. From investors to validators, and from dApps to auditors, we'll make sure you'll get a foot in the door."
					/>
					<MTrack
						title="Business & Strategy"
						subtitle="Get Closer to Your Goals"
						content="We sit down with your team to learn about your project's business needs and help you assess whether blockchain technology and the Interchain Stack are the most suitable tools for you to reach your company's goals."
					/>
				</div>
			</section>
			<div class="lg:hidden flex justify-center w-screen px-sm-side pt-8 pb-16 bg-grey">
				<img src="/icons/void.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
				<img src="/icons/filled.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
				<img src="/icons/filled.svg" class="inline h-[24px] w-auto px-6 icon hover:scale-110 transition-all duration-100 ease-in-out"/>
			</div>
			
			<Offer />
			<Knowledge />
			<!-- <Team /> -->
			<CTA />
			<Footer />
		</div>
		<script>
			import "../scripts/menu.js";
			
			document.addEventListener('DOMContentLoaded', function () {
			let scrollSections = Array.from(document.querySelectorAll('.scroll-section'));
			let icons = Array.from(document.querySelectorAll('.icon'));
			let scrollContainer = document.querySelector('.scroll-container');
			
			// Check if scrollContainer is not null
			if (scrollContainer) {
				scrollContainer.addEventListener('scroll', (e) => {
					let target = e.target as HTMLElement;
					let currentSectionIndex = Math.round(target.scrollLeft / window.innerWidth);

					icons.forEach((icon, index) => {
						let iconSrc = (index === currentSectionIndex) ? '/icons/void.svg' : '/icons/filled.svg';
						icon.setAttribute('src', iconSrc);
					});
				});

				icons.forEach((icon, index) => {
					icon.addEventListener('click', () => {
						if (scrollContainer) { // This check is technically redundant within the current structure but is a good practice if the code is refactored later.
							scrollContainer.scrollTo({
								left: window.innerWidth * index,
								behavior: 'smooth'
							});
						}
					});
				});
			} else {
				console.error('scrollContainer element not found.');
			}
		});

		</script>
	</body>
</html>
