---
const { } = Astro.props;
---

<section class="panel section9 z-20 lg:grid lg:grid-cols-3 lg:h-screen min-h-[500px] px-sm-side lg:px-lg-side pt-40 lg:py-lg-top bg-white snap-start" >
    <div class="lg:col-span-2 my-auto">
        <h2 class="font-bold mb-[40px] text-[52px] leading-[56px] lg:text-2xl text-blue">Ready to join the Builders Program?</h2>
        <a href="https://airtable.com/shrdDF6BQUDVH06fm" target="_blank"></a>
            <button class="px-[30px] py-[14px] text-white bg-blue border-[1px] 
            hover:text-blue hover:bg-white active:scale-95
            transition-all duration-100 ease-in-out">
            <h6 class="font-medium text-sm">APPLY NOW</h6>
            </button>
        </a>
    </div>
    <div class="lg:col-span-1 lg:col-start-3 flex items-center justify-center lg:mr-[-100px]">
        <img src="/icons/desktop/iconsCUT_09.CTA.svg" class="hidden lg:flex object-contain h-full lg:w-full"/>
        <img src="/icons/mobile/mobile_05.CTA.svg" class="lg:hidden pt-48 object-contain w-3/5"/>
    </div>
</section>
