---
interface Props {
	question: string;
	answer: string;
}

const { question, answer } = Astro.props;
---

<div class="border-b-[1px] border-blue" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h2 class="font-bold text-[30px] leading-[30px] lg:text-[40px] lg:leading-[40px] my-9 text-blue" itemprop="name">{question}</h2>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p class="text-[18px] lg:text-[18px] mb-9" itemprop="text">
            <Fragment set:html={answer} />
        </p>
    </div>
</div>