---
const { } = Astro.props;
---

<footer class="panel section-footer z-20 grid grid-cols-6 h-auto align-top px-sm-side lg:px-lg-side py-lg-top bg-blue text-white" >
    <div class="col-span-6 md:col-span-3 lg:row-start-1 row-span-1 block mt-[-8px]">
        <h2 class="font-bold text-lg lg:text-2xl mb-[60px]">Interchain<br />Builders<br />Program</h2>
    </div>
    <div class="col-start-6 lg:col-start-1">
        <a href="https://airtable.com/shrdDF6BQUDVH06fm" target="_blank">	
            <button class="px-[16px] py-[8px] text-white border-white border-[1px] 
            hover:bg-white hover:text-blue active:scale-95
            transition-all duration-100 ease-in-out">
            <h6 class="font-medium text-sm">APPLY</h6>
            </button>
        </a>
    </div>
    <div class="col-span-6 md:col-span-1 col-start-1 lg:col-start-4 row-start-2 lg:row-start-1 row-span-1">
        <h4 class="font-medium text-md mb-6 mt-20 md:mt-0 md:mb-[40px]">Company</h4>
        <a href="https://binary.builder" target="_blank" class="hover:underline">Binary Builders AG<br />
        Bergliweg 15, 6300<br />
        Zug, Switzerland<br /></a>
        <br />
        Zug CH-170.3.047.294-4<br />
        VAT CHE-496.026.439 MWST<br />
        <br />
        <a target="_blank" href="https://interchain.io/privacy" target="_blank" class="hover:underline">Privacy Policy</a><br />
        <a target="_blank" href="#" class="hover:underline">Legal</a>
    </div>
    <div class="col-span-6 md:col-span-1 md:col-start-3 lg:col-start-5 row-start-3 md:row-start-2 lg:row-start-1 row-span-1">
        <h4 class="font-medium text-md mb-6 mt-20 md:mt-0 md:mb-[40px]">Content</h4>
        <a href="https://hub.join.builders" target="_blank"  class="hover:underline">Knowledge Hub</a><br />
        <a href="/faq/" class="hover:underline">FAQ</a><br />
        <a href="/#section-program" class="hover:underline">Program</a><br />
        <a href="/#section-team" class="hover:underline">Team</a><br />
    </div>
    <div class="col-span-6 md:col-span-1 md:col-start-5 lg:col-start-6 row-start-4 md:row-start-2 lg:row-start-1 row-span-1">
        <h4 class="font-medium text-md mb-6 mt-20 md:mt-0 md:mb-[40px]">Social</h4>
        <a target="_blank" href="https://twitter.com/BuildersProgram" class="hover:underline">Twitter</a><br />
        <a target="_blank" href="https://medium.com/@BuildersProgram" class="hover:underline">Medium</a><br />
        <img src="/icons/ICF.svg" class="mt-12 mb-5 w-[20%] md:w-[40%]">
        <p>Supported by the <a target="_blank" href="https://twitter.com/BuildersProgram" class="hover:underline">Interchain Foundation</a></p>
    </div>
</section>