---
import ApplyButton from '../components/apply_button.astro';

const { } = Astro.props;
---

<header class="fixed z-30 md:z-0 w-screen md:bg-white flex">
    <div class="hidden md:flex relative justify-between items-center w-full px-6 h-[72px]">
        <ul class="list-none text-sm">
            <li class="inline pr-[50px]"><a href="/#section-program" class="hover:underline">Program</a></li>
            <!-- <li class="inline pr-[50px]"><a href="/#section-team" class="hover:underline">Team</a></li> -->
            <li class="inline pr-[50px]"><a href="/faq/" class="hover:underline">FAQ</a></li>
            <li class="inline pr-[50px]"><a href="https://hub.join.builders" target="_blank" class="hover:underline">Knowledge Hub</a></li>
        </ul>
        <ApplyButton isDisabled={true} variant='black' size='sm' text='APPLY'/>
    </div>
    <div class="flex md:hidden">
        <button class="menu-open mx-6 my-6 hover:scale-105 transition-all duration-100 ease-in-out">
          <img src="/icons/menu.svg" class="h-6 w-auto"/>
        </button>
        <div class="menu h-screen fixed w-screen overflow-hidden bg-blue text-white px-sm-side opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out">
          <button class="menu-close mt-6 mb-24 hover:scale-105 transition-all duration-100 ease-in-out">
            <img src="/icons/menu_close.svg" class="h-6 w-auto"/>
          </button>
            <a href="/#section-program"><h4 class="font-normal text-[30px] py-2 hover:underline">Program</h4></a>
            <!-- <a href="/#section-team"><h4 class="font-normal text-[30px] py-2 hover:underline">Team</h4></a> -->
            <a href="/faq/" class="hover:underline"><h4 class="font-normal text-[30px] py-2 hover:underline">FAQ</h4></a>
            <a href="https://hub.join.builders" target="_blank"><h4 class="font-normal text-[30px] pt-2 pb-32 hover:underline">Knowledge Hub</h4></a>
            <ApplyButton isDisabled={true} variant='negative' size='sm' text='APPLY'/>
            <div class="w-full flex items-center justify-center mt-8">
                <ApplyButton isDisabled={false} variant='default' size='md' text='Contact Us' href="https://cosmos.network/interest-form"/>
            </div>
        </div>
    </div>
</header>