---
const { } = Astro.props;
---

<section class="lg:grid lg:grid-cols-3 lg:h-screen lg:min-h-[800px] px-sm-side lg:px-lg-side pt-24 pb-lg-top lg:py-lg-top bg-white lg:snap-start">
    <div class="lg:col-span-1 pt-[80px] items-center ml-[-100px] mt-[-10%]
    hidden lg:flex">
        <img src="/icons/desktop/iconsCUT_01.hero-SX.svg" class="object-cover h-[90%] max-h-[600px]"/>
    </div>
    <div class="lg:col-span-2 lg:col-start-2 my-auto">
        <img src="/icons/mobile/mobile_01.hero-top.svg" class="max-h-[100px] mx-auto lg:hidden mb-[80px]"/>
        <h1 class="font-bold text-[15vw] leading-[15vw] lg:text-3xl mb-[80px] ml-[-8px]">Interchain <br/> Builders <br/> Program</h1>
        <a href="https://airtable.com/shrdDF6BQUDVH06fm" target="_blank">
            <button class="px-[30px] py-[14px] text-white bg-blue border-[1px] hover:text-blue hover:bg-white active:scale-95 transition-all duration-100 ease-in-out" 
            title="Apply now to the Builders Program">
                <h6 class="font-medium text-sm">APPLY NOW</h6>
            </button>
        </a>
        <img src="/icons/mobile/mobile_02.hero-bottom.svg" class="max-h-[300px] mx-auto lg:hidden mt-40"/>
    </div>
    <div class="lg:col-span-1 lg:col-start-6 pt-[80px] items-end mr-[-100px] hidden lg:flex">
        <img src="/icons/desktop/iconsCUT_02.hero-DX.svg" class="object-bottom h-[25%] max-h-[300px]"/>
    </div>
</section>
