---
const { } = Astro.props;
---

<section class="panel section7 z-20 relative lg:grid lg:grid-cols-2 md:h-screen min-h-[800px] px-sm-side lg:px-lg-side pb-20 bg-right bg-no-repeat bg-cover bg-grey snap-start
bg-[url('/grids/grid_Smartphone.svg')] lg:bg-[url('/grids/grid_Hub-1024.svg')] 2xl:bg-[url('/grids/grid_Hub-1440.svg')]" >
    <h4 class="lg:absolute py-16 lg:pl-[100px] text-md text-blue">The Builders <br class="hidden lg:flex" />Knowledge<br class="hidden lg:flex" /> Hub</h4>
    <div class="lg:col-span-1 my-auto">
        <h2 class="font-bold text-[52px] leading-[52px] lg:text-2xl text-blue mb-[40px]">Web3's Best Practices, Available on Demand</h2>
        <p class="text-base mb-[40px]">Find all the educational resources you need. The Builders Knowledge Hub is a collection of articles and research intended to support Web3 founders in their journey towards the launch of a successful product.</p>
        <button class="px-[30px] py-[14px] text-white bg-blue border-[1px] 
            hover:text-blue hover:bg-white active:scale-95
            transition-all duration-100 ease-in-out">
            <h6 class="font-medium text-sm">LEARN MORE</h6>
        </button>
    </div>
</section>
