---
import ApplyButton from '../components/apply_button.astro';

interface Props {
	title: string;
	subtitle: string;
	content: string;
}

const { title, subtitle, content } = Astro.props;
---

<div class="w-screen flex-none px-sm-side scroll-section snap-start">
    <h4 class="font-normal text-[36px] mb-[24px]">{title}</h4>
    <h2 class="font-bold text-[40px] leading-[40px] mb-9 text-blue">{subtitle}</h2>
    <p class="text-base mb-9">
        {content}
    </p>
    <ApplyButton variant='arrow' size='md' text='APPLY NOW'/>
</div>