---
const { } = Astro.props;
---

<section class="z-20 relative lg:grid lg:grid-cols-2 lg:min-h-screen min-h-[800px] px-sm-side lg:px-lg-side py-lg-top bg-white lg:snap-start">
    <div class="lg:col-span-1 flex items-center relative ">
        <img src="/icons/desktop/iconsCUT_07.offer.svg" class="hidden lg:flex absolute inset-0 object-contain h-4/5 w-4/5 ml-[-100px]"/>
        <div class="h-full items-top">
            <h4 class="pb-10 lg:pb-0 text-md text-blue items-top">What <br class="hidden lg:flex"/> We Offer</h4>
        </div>
    </div>
    <div class="col-span-1 col-start-2 my-auto divide-y divide-blue divide-solid">
        <div class="py-[30px]">
            <h4 class="font-bold text-lg text-blue mb-[30px]">Technical <br /> Support</h4>
            <p class="text-base">With our close ties to the core devs of the Interchain stack, we help you get any question answered.</p>
        </div>
        <div class="py-[30px]">
            <h4 class="font-bold text-lg text-blue mb-[30px]">Ecosystem <br /> Introductions</h4>
            <p class="text-base">Whether your’re fundraising or looking for potential partnerships in the ecosystem, we are the ones to ask.</p>
        </div>
        <div class="py-[30px]">
            <h4 class="font-bold text-lg text-blue mb-[30px]">Product <br /> Support</h4>
            <p class="text-base">We help you connect the dots between your product and users, revise your pitch, tokennomics and legal structure.</p>
        </div>
    </div>
</section>