---
const { } = Astro.props;
---

<section id="section-team" class="z-20 relative lg:grid lg:grid-cols-6 lg:h-screen min-h-[500px] px-sm-side lg:px-lg-side py-lg-top bg-white lg:snap-start" >
    <div class="lg:col-span-2">
        <h4 class="text-md text-blue pb-16">Team</h4>
    </div>
    <div class="lg:col-span-3 lg:col-start-3 pb-24 lg:pb-0 my-auto">
        <a target="_blank" href="https://twitter.com/stefsprinz"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Stef Sprinz</h2></a>
        <a target="_blank" href="https://twitter.com/onurakpolat"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Onur Akpolat</h2></a>
        <a target="_blank" href="https://twitter.com/noamwithveto"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Noam Cohen</h2></a>
        <a target="_blank" href="https://twitter.com/mark0baricevic"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Marko Baricevic</h2></a>
        <a target="_blank" href="https://twitter.com/MoonMan421"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Len Seitter</h2></a>
        <a target="_blank" href="https://twitter.com/AlexSantoshi"><h2 class="font-bold text-[40px] leading-[46px] lg:text-2xl hover:underline text-blue">Alejandro Santos</h2></a>
        <p class="text-md mt-20">The Builders Program is funded by the <a href="https://interchain.io" target="_blank" class="hover:underline" title="Visit the Interchain Foundation website">Interchain Foundation</a> and operated by <a href="https://binary.builders" target="_blank" class="hover:underline" title="Visit the Binary Builders website">Binary Builders AG</a>.</p>
    </div>
    <div class="flex lg:col-span-1 lg:col-start-6 items-center justify-center lg:mr-[-100px]">
        <img src="/icons/desktop/iconsCUT_02.hero-DX.svg" class="hidden lg:flex object-contain h-full w-full"/>
        <img src="/icons/mobile/mobile_04.team.svg" class="flex lg:hidden object-contain w-3/5"/>
    </div>
</section>